name: Build base images

on:
  pull_request:
    branches: ["master"]
  release:
    types: ["published"]
  push:
    branches: ["master"]
    paths:
    - 'rootfs/**'
    - build.json
    - Dockerfile
    - requirements.txt

env:
  BUILD_TYPE: generic # Can be plugin, core, supervisor or generic

jobs:
  build:
    name: Build base images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Get version
      id: version
      uses: home-assistant/actions/helpers/version@master
      with:
        type: ${{ env.BUILD_TYPE }}
    
    - name: Login to DockerHub
      if: github.event_name == 'release'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set build arguments
      if: github.event_name != 'release'
      run: echo "BUILD_ARGS=--test" >> $GITHUB_ENV

    - name: Build base images
      uses: home-assistant/builder@2020.10.0
      with:
        args: |
          $BUILD_ARGS \
          --all \
          --target /data \
          --generic ${{ steps.version.outputs.version }}